.container {
    position: relative;
    width: 150px; 
    height: 150px; 
}

.square {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #3498db;
    transform-origin: center;
}

.square1 {
    top: 25%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 10%;
    background-color: #3498db;
    border: 1px solid black;
}

.square2 {
    top: 32.9%;
    left: 6.9%;
    transform: translate(-50%, -50%) rotate(120deg);
    border-radius: 10%;
    background-color: yellow;
    border: 1px solid black;
}

.square3 {
    top: 32.9%;
    left: 13.1%;
    transform: translate(-50%, -50%) rotate(240deg);
    border-radius: 10%;
    background-color: rgb(234, 47, 110);
    border: 1px solid black;
}

.dark {
 background-color: #338f8f;
 color: aliceblue;
}

.dark_1 {
    background-color: #f5f533;
}

.dark:hover {
    background-color: #f5f533;
    color: #338f8f;
  }
  
  .dark_1:hover {
    background-color: #338f8f;
    color: aliceblue;
  }